.headerContainer{
    display:flex;
    align-items:baseline;

}

.noticeContainer{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}

.dateContainer{

    font-size:12px;
    font-weight: 600;
    margin-left: 10px;
}
.footerNotice{
    font-size: small;
    font-weight: 700;
    margin: 5px;

}
.footerContainer{
    display: flex;
    align-items:baseline;
}

.imageContainer {
    position: relative;
    display: inline-block;
    
}

.overlay-text {
    position: absolute;
    width:317px;
    font-weight:bold;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgba(255, 255, 255, 0.858);
    padding: 10px;
    opacity: 1; 
    border-radius: 0px;
    font-size: 13px;
    
    
}

.imageContainer:hover .overlay-text {
    opacity: 0; 
}