.headerContainer{
    display:flex;
    

}

.noticeContainer{
    color: red;
    font-weight: bold;
    font-size: small;
    margin: 5px;
}

.dateContainer{

    font-size:small;
    font-weight: 500;
    margin: 5px;
}
.footerNotice{
    font-size: small;
    font-weight: 700;
    margin: 5px;

}
.footerContainer{
    display: flex;
    align-items:baseline;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    width:317px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgba(255, 255, 255, 0.848);
    padding: 10px;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 500;
}