
.searchContainer
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.searchBarContainer{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.horizontal-form {
  align-content: center;
  display: flex;
  justify-content:baseline;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  width: 100%; 
  
}
.horizontal-form .form-label {
  color: #333; 
  font-weight: bold; 
}

.horizontal-form .form-group {
  margin-bottom: 0; 
  flex: 1 1 auto; 
}

.horizontal-form .form-control {
  width: 100%; 
}

.horizontal-form .btn {
  margin-left: 10px;
  margin-top: 29px; 
}




@media (max-width: 768px) {
  .horizontal-form {
    flex-direction: column;
  }

  .horizontal-form .btn {
    margin-left: 0; 
    margin-top: 10px; 
  }
}



.btn1, .btn2 {
  
  background-color: #f01d1d; 
  color: #ffffff; 
  border: 1px solid #ffffff; 
}

.btn1:hover, .btn2:hover {
  background-color: #ca1818; 
  color: #fff; 
  border: 1px solid #ffffff; 
}

